*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;}


body{
    display: flex;
    flex-direction: column;
}

/* This is section*/


.hero-section-container{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 100px 100px 100px;
    flex: 1;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
    
}

.nav-logo{
    font-size: 24px;
    color:#F9FAF8;

}

.hero-section{
    display: flex;  
    justify-content: space-between;
    gap: 20px;
}

.sub-context{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;   
}


.hero-image{
    flex:1;
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hero-header{
    font-size: 48px;
    font-weight:900;
}

.hero-info{
    font-size: 18px;
}


button{
    width: 100%;
    max-width: 100px;
    padding: 8px 20px;
    background-color:#3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;

}



/* This is section two */



.card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 0 50px 0;
}


.card-container{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.card{
    width: 130px;
    height: 130px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

span{
    font-size: 15px;
}

   

h2{
    margin: 30px 0;
    text-align: center;
    font-size: 36px;
    color:#1F2937;
}



/* This is for section three */

.section-three-container{
    display: flex;
     background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
   
}

.section-three{
    display: flex;
    flex-direction: column;
    width: 650px;
    gap: 10px;
    /* border: 2px solid black; */
}

.section-three p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
   
}

.section-three span{
    align-self: flex-end;
    font-weight: 900;
    font-size: 16px;
    color:#1F2937;
    
}


/* This is section four */

.cta-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.cta-container{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 40px 60px;
    border-radius: 8px;
    
}

.cta-container .cta-btn{
        border: 2px solid white;
        padding: 5px 20px;
      
}


footer p{
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 25px 0;
}